# Carpetas generadas por Gradle
.gradle/
build/

# Archivos del IDE (IntelliJ, Android Studio, etc.)
.idea/
*.iml
out/

# Archivos del sistema
.DS_Store

# Compilación temporal de Java
/build/tmp/
/build/classes/
/build/generated/
/build/reports/
/build/libs/
/build/distributions/
/build/dependency-cache/
/build/outputs/
/build/test-results/
/build/tmp/compileJava/